@(message: String)

@main("Sign up"){

    <form action="@routes.User.signup()" method="post">
        <label for = "username">Username</label>
        <input type="text" name="username">
        <br>
        <label for="password">Password</label>
        <input type="password" name="password">
        <br>
        <label for="email">Email</label>
        <input type="email" name="email">
        <br> <button>Sign Up</button>
    </form>

    Already have an account?
    <br>
   <a href="@routes.Application.index()">Login here</a>

}