body
{
    background-color: #e9e1e1;

}

.Mainul
{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.MainLi
{
    float: left;
    text-align: center;
}

.MainLink:link, .MainLink:visited
{

    display: block;
    width: 400px;
    color: white;
    background-color: #08931a;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

.MainLink:hover, .MainLink:active
{
    background-color: #0fc126;
}