@(tool: Tool )

@main("tool"){

<br>
    @if(tool.tc.id == 1){
        <center><img src='@routes.Assets.versioned("images/1.png")'/></center>
    }
    @if(tool.tc.id == 2){
        <center><img src='@routes.Assets.versioned("images/2.png")'/></center>
    }
    @if(tool.tc.id == 3){
        <center><img src='@routes.Assets.versioned("images/3.png")'/></center>
    }
    <br>
    <center>Owner: @User.find.byId(tool.toolOwner.id).username</center>
    <br>
    <center>Tool Description: @tool.toolDescription</center>
    <br>

    <form action="@routes.toolUpload.borrow(tool.id)" method="post">
        @if(tool.isBorrow && tool.toolOwner != User.find.byId(Long.parseLong(session().get("user_id"))) ) {
        <center> <button  class="btn btn-lg btn-success">Borrow</button> </center>
        }
        @if(!tool.isBorrow && tool.toolOwner != User.find.byId(Long.parseLong(session().get("user_id")))
            && tool.borrower != User.find.byId(Long.parseLong(session().get("user_id"))) ){
        <center> <button  class="btn btn-lg btn-danger">Unavailable</button> </center>
        }
    </form>


    @if(tool.isBorrow != true && tool.borrower == User.find.byId(Long.parseLong(session().get("user_id")) ) ){
        <br>
        <center> <h1>Ready to return the tool?</h1> </center>
        <center> Just click below</center>

        <form action="@routes.toolUpload.giveback(tool.id)" method="post" >
        <center><button class="btn btn-lg btn-warning">Return</button></center>
        </form>
    }

<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */

    var disqus_config = function () {
        this.page.url = 'https://sleepy-badlands-2483.herokuapp.com/tool/@tool.id';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '@tool.id'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//sleepybadlands2483.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

}