@(tool: List[Tool])

@main("Avaible Tools"){
    <center><p><h2>All the tools that are being shared right now!</h2></p></center>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    @for(t <- tool){
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <a href="@routes.toolUpload.show(t.id)">
                                <img src="@routes.toolUpload.getImage(t.id)">
                            </a>
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="@routes.toolUpload.show(t.id)">@t.name</a>
                                </h4>
                                <p>@t.toolDescription.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right"></p>
                                <p>
                                </p>
                            </div>
                        </div>
                    </div>
}
                </div>
            </div>
        </div>
    </div>

}