@(message: String)

@main("About US"){

    <h4><center><p>Hand tools and power tools are great resources, but the average person will use them only a few times a
        year or not at all. Not to mention, these can often be expensive. </p></center></h4>
    <br>
    <h4><center><p>This site provide people an easy way to see
        if the tools you need are within your community. Why buy something if you’re only going to use it once? </p></center></h4>
    <br>
        <h4><center><p>Hammer Time is here to help!</p></center></h4>
}
