@(message: String)

@main("Community Tool Sharing") {

    <h4>Welcome!</h4>
    <br> <br>
    <h1>Please login below</h1>

    <form action="@routes.Application.login()" method="post">
        <label for="UserName">UserName</label>
        <input type="text" name="UserName">
        <br>

        <label for="password">Password</label>
        <input type="password" name="Password">
        <br>
        <button>Login</button>
    </form>

    Don't have an account?
    <br>
    signup here!




}
