@(message: String)

@main("Community Tool Sharing") {

    <h4>Welcome!</h4>
    <ul>
        <li>home</li>
        <li>about</li>
    </ul>
    <br>
    <h1>Please login below</h1>


    <form action="@routes.Application.login()" method="post">
        <label for="username">UserName</label>
        <input type="text" name="username">
        <br>

        <label for="password">Password</label>
        <input type="password" name="password">
        <br>
        <button>Login</button>
    </form>

    Don't have an account?
    <br>
    signup here!

    <form action="@routes.Application.signup()" method="post">
        <label for = "username">username</label>
        <input type="text" name="username">
        <br>

        <label for="password">password</label>
        <input type="password" name="password">
        <br> <button>Sign Up</button>
    </form>


}
