@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/hammerIcon.png")'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>@title</title>

        <link href='@routes.Assets.versioned("stylesheets/bootstrap.min.css")' rel="stylesheet" >

    <!-- Custom CSS -->
    <link  href='@routes.Assets.versioned("stylesheets/shop-homepage.css")' rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if(session.containsKey("user_id")){
                <a class="navbar-brand" href='@routes.userProfile.index(Long.parseLong(session().get("user_id")), session().get("user_id") )'>Hammer Time</a>
                }else{
                <a class="navbar-brand" href="@routes.Application.index()">Hammer Time</a>
                }
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@routes.About.index()">About</a>
                    </li>
                    <li>
                        <a href="@routes.toolUpload.showAll()">Tools</a>
                    </li>
                    <li>
                        <a href="@routes.About.index()">Contact</a>
                    </li>
                @if(session.containsKey("user_id")){
                    <li>
                        <a href="@routes.toolUpload.index()">Upload</a>
                    </li>
                    <li>
                        <a href="@routes.Users.logout()">Logout</a>
                    </li>
                    }
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

        @* Display flash messages *@
        @if(flash.containsKey("success")) {
            <center> <p>Success Flash Message:</p>
            @flash.get("success") </center>
        }
        @if(flash.containsKey("error")) {
            <center> <p>Error Flash Message:</p>
            @flash.get("error") </center>
        }

        @content

        <!-- jQuery -->
        <script src='@routes.Assets.versioned("javascripts/jquery.js")'></script>

        <!-- Bootstrap Core JavaScript -->
        <script src='@routes.Assets.versioned("javascripts/bootstrap.min.js")'></script>
    </body>
</html>
